{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}

<div class="jumbotron" style="background-image: url(https://i.ibb.co/8P7ycd3/devops-3155973-1920.jpg); height: 100px; background-size: 100%;">
    <div class="container for-about">
    <h1 style="color: white;">
        maintenance cycle
    </h1>
    </div>
 </div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
                <div class="container">
                        <div class="container text-center">
                            <h3>
                                Maintenance process
                            </h3>
                            <h5>
                                    Software maintenance in software engineering is the modification of a software product after delivery to correct faults, to improve performance or other attributes
                            </h5>
                            <h5>
                    
                                We implement Basic software maintenance processes including optimization, error correction, and enhancement of existing features, which combine together to make the software abreast with the latest changes and demands of your bussiness and the software industry.
                            </h5>
                        </div>
                    </div>
        </div>
        <div class="col-md-6">
                <h3 class="text-center">contact me below</h3>
                <form method="POST">

                        {% csrf_token %}
                        <div class="form-group text-left">
                            {{ form.error }}
                            {{ form.label_tag }}
                            {{ form|crispy }}
                        </div>
                        <input type="submit" class="btn btn-outline-success" value="send" />
                    </form><br>
        </div>
    </div>
</div>
{% endblock body %}